{% extends 'base.html.twig' %}
{#{% block body %}#}
{#<div ng-controller="NewsCtrl">#}
{#<div class="container">#}
    {#<div class="row"> <i class="department-news gap">Новости кафедры</i>#}
       {#{% for oneNews in news %}#}
        {#<div ng-repeat="oneNews in news | orderBy: &#39;-id&#39; | pagination: curPage * pageSize | limitTo: pageSize">#}

               {#<div class="col-md-6">#}
                   {#<div class="panel panel-default">#}
                        {#<a ng-href="#/news/page">#}
                         {#    <img alt="alt" class="post-img" ng-src="{{oneNews.photo}}" style="display:block" />#}
                     {#</a>#}
                    {#<i class="time">{{oneNews.createdAt}}</i>#}
                    {#<a class="post-title" href="{{ path('news_show', { 'id': oneNews.id, '_format': '.html'}) }}">{{ oneNews.title }}</a>#}
                    {#<div class="post-content">#}
                       {# {{ oneNews.content | limitTo: 100 }}{{oneNews.content.length &gt; 20 ? &#39;...&#39; : &#39;&#39;}} #}
                     {#</div>#}
                {#</div>#}
            {#</div>#}
               {#{% endfor %}#}
        {#</div>#}
     {#</div>#}
     {#{% include ':layout:pagination.html.twig' %}#}

    {#<link href="{{ asset('bundles/departmentsitenews/css/pagination.css') }}" type = "text/html" rel="stylesheet" />#}

    {#<div ng-include="&#39;views/layout/pagination.html&#39;"></div>#}
{#</div>#}
{#</div>#}
{#{% endblock %}#}

{% block body %}

    <script src="{{ asset('bundles/departmentsitenews/js/controllers/news.js') }}" type = "text/javascript"></script>
    <script type="text/javascript">
        data = '{{ render(controller('DepartmentSiteNewsBundle:News:getAll')) }}';
        data = JSON.parse(data);
    </script>

    {#{% set data = {{ render(controller('DepartmentSiteNewsBundle:News:getAll')) }} %}#}

<div class="container" ng-controller="NewsCtrl"">
    <div class="row"> <i class="department-news gap">Новости кафедры</i>
        {#{% for oneNews in news %}#}
        <div ng-repeat="oneNews in news">
            <div class="col-md-6">
                <div class="panel panel-default">
                    {#<a ng-href="#/news/page">#}
                        {#<img alt="alt" class="post-img" ng-src="{{oneNews.img}}" style="display:block" />#}
                    {#</a> <i class="time">{{oneNews.createdAt}}</i>#}
                    {#<a class="post-title" ng-href="#/news/page">{{ oneNews.title }}</a>#}
                    <a class="post-title"> {{ '{{ oneNews.title }}' }}  </a>
                   {#<div class="post-content">#}
                       {#{{ oneNews.content | limitTo: 100 }}{{oneNews.content.length < 20 ? &#39;...&#39; : &#39;&#39;}}#}
                    {#</div>#}
                </div>
            </div>
        </div>
        {#{% endfor %}#}
    </div>
    {#<div ng-include="&#39;layout/pagination.html&#39;"></div>#}
    {#{% include ':layout:pagination.html.twig' %}#}
</div>
{% endblock %}
